<div class="dashboard-sources">
  <div class="dashboard-sources-items">
    <%= link_to '/sources', class: 'dashboard-sources-item' do %>
      <%= image_tag 'source.svg', alt: '', class: 'dashboard-sources-icon' %>
      <span class="dashboard-sources-text">Sources</span>
    <% end %>
    <%= link_to '#', class: 'dashboard-sources-item' do %>
      <%= image_tag 'quran.svg', alt: '', class: 'dashboard-sources-icon' %>
      <span class="dashboard-sources-text">Quran</span>
    <% end %>
    <%= link_to '#', class: 'dashboard-sources-item' do %>
      <%= image_tag 'bible.svg', alt: '', class: 'dashboard-sources-icon' %>
      <span class="dashboard-sources-text">Catholic Bible</span>
    <% end %>
    <%= link_to '#', class: 'dashboard-sources-item' do %>
      <%= image_tag 'newsource.svg', alt: '', class: 'dashboard-sources-icon' %>
      <span class="dashboard-sources-text">Add New Source</span>
    <% end %>
  </div>
</div>
