<nav class="dashboard-nav">
  <div class="i-nav-logo">
    <%= link_to root_path do %>
      <%= image_tag "white-logo.png", alt: "VeriFaith Logo" %>
    <% end %>
  </div>

  <div class="nav-items">
    <%= link_to feeds_path, class: "nav-item #{'active' if current_page?(feeds_path)}" do %>
      <%= image_tag 'feed-icon.png', alt: '', class: 'nav-icon', size: '22x22' %>
      <span class="nav-text">Feed</span>
    <% end %>
    
    <%= link_to facts_path, class: "nav-item #{'active' if request.path.start_with?('/facts')}" do %>
      <%= image_tag 'fact-icon.png', alt: '', class: 'nav-icon', size: '22x22' %>
      <span class="nav-text">Facts</span>
    <% end %>
    <%= link_to public_theories_path, class: "nav-item #{'active' if request.path.start_with?('/theories/public')}" do %>
      <%= image_tag 'thoeries-icon.png', alt: '', class: 'nav-icon', size: '22x22' %>
      <span class="nav-text">Theories</span>
    <% end %>

    <%= link_to claims_path, class: "nav-item #{'active' if request.path.start_with?('/claims')}" do %>
      <%= image_tag 'my-claims-icon.png', alt: '', class: 'nav-icon', size: '22x22' %>
      <span class="nav-text">My Claims</span>
    <% end %>

    <%= link_to theories_path, class: "nav-item #{'active' if current_page?(theories_path) || current_page?(new_theory_path)}" do %>
      <%= image_tag 'my-theories-icon.png', alt: '', class: 'nav-icon', size: '22x22' %>
      <span class="nav-text">My Theories</span>
    <% end %>
    
    <%= link_to peers_path, class: "nav-item #{'active' if current_page?(peers_path) || request.path =~ %r{^/users/\d+/profile/?$}}" do %>
      <%= image_tag 'peers-icon.png', alt: '', class: 'nav-icon', size: '22x22' %>
      <span class="nav-text">Peers</span>
    <% end %>

    <a href="#" class="nav-item upcoming"><%= image_tag 'groups-icon.png', alt: '', class: 'nav-icon', size: '22x22' %><span class="nav-text">Groups</span></a>
  </div>

  <div class="nav-section-title">Sources</div>
  <div class="nav-items nav-sources">
    <a href="#" class="nav-item upcoming"><%= image_tag 'source-icon.png', alt: '', class: 'nav-icon', size: '22x22' %><span class="nav-text">Quran</span></a>
    <a href="#" class="nav-item upcoming"><%= image_tag 'source-icon.png', alt: '', class: 'nav-icon', size: '22x22' %><span class="nav-text">Catholic Bible</span></a>
    <a href="#" class="nav-item upcoming"><%= image_tag 'sourses-icon.png', alt: '', class: 'nav-icon', size: '22x22' %><span class="nav-text">Add New Source</span></a>
  </div>

  <div class="nav-items nav-settings">
    <%= link_to edit_settings_path, class: "nav-item #{'active' if request.path.start_with?('/settings')}" do %>
      <%= image_tag 'settings-icon.png', alt: '', class: 'nav-icon', size: '22x22' %>
      <span class="nav-text">Settings</span>
    <% end %>
  </div>
</nav> 