<nav class="dashboard-nav">
  <div class="nav-items">
    <%= link_to facts_path, class: "nav-item #{'active' if request.path.start_with?('/facts') || (controller_name == 'claims' && action_name == 'show' && defined?(@claim) && @claim.fact? && @claim.user != current_user)}" do %>
      <%= image_tag 'fact-icon.png', alt: '', class: 'nav-icon', size: '22x22' %>
      <span class="nav-text">Facts</span>
    <% end %>
    
    <%= link_to dashboard_path, class: "nav-item #{'active' if current_page?(dashboard_path)}" do %>
      <%= image_tag 'my-claims-icon.png', alt: '', class: 'nav-icon', size: '22x22' %>
      <span class="nav-text">Claims</span>
    <% end %>

    <%= link_to claims_path, class: "nav-item #{'active' if request.path.start_with?('/claims') && !(controller_name == 'claims' && action_name == 'show' && defined?(@claim) && @claim.fact? && @claim.user != current_user)}" do %>
      <%= image_tag 'my-claims-icon.png', alt: '', class: 'nav-icon', size: '22x22' %>
      <span class="nav-text">My Claims</span>
    <% end %>

    <%= link_to public_theories_path, class: "nav-item #{'active' if request.path.start_with?('/theories/public')}" do %>
      <%= image_tag 'thoeries-icon.png', alt: '', class: 'nav-icon', size: '22x22' %>
      <span class="nav-text">Theories</span>
    <% end %>

    <%= link_to theories_path, class: "nav-item #{'active' if current_page?(theories_path) || current_page?(new_theory_path)}" do %>
      <%= image_tag 'my-theories-icon.png', alt: '', class: 'nav-icon', size: '22x22' %>
      <span class="nav-text">My Theories</span>
    <% end %>
  </div>
</nav> 
