<aside id="layout-menu" class="layout-menu menu-vertical menu">
  <!-- Brand -->
  <div class="app-brand demo">
    <%= link_to admin_dashboard_path, class: "app-brand-link gap-xl-0 gap-2" do %>
      <span class="app-brand-logo demo me-1">
        <%= image_tag "verifaith-logo.png", alt: "VeriFaith Logo", height: 24 %>
      </span>
    <% end %>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="menu-toggle-icon d-xl-inline-block align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <!-- Menu -->
  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item <%= 'active open' if current_page?(admin_dashboard_path) %>">
      <%= link_to admin_dashboard_path, class: "menu-link" do %>
        <i class="menu-icon icon-base ri ri-home-smile-line"></i>
        <div data-i18n="Dashboard">Dashboard</div>
      <% end %>
    </li>

    <!-- Claims -->
    <li class="menu-item <%= 'active' if controller_name == 'claims' %>">
      <%= link_to admin_claims_path, class: "menu-link" do %>
        <i class="menu-icon icon-base ri ri-file-text-line"></i>
        <div data-i18n="Claims">Claims</div>
      <% end %>
    </li>

    <!-- Users -->
    <li class="menu-item <%= 'active' if controller_name == 'users' %>">
      <%= link_to admin_users_path, class: "menu-link" do %>
        <i class="menu-icon icon-base ri ri-user-line"></i>
        <div data-i18n="Users">Users</div>
      <% end %>
    </li>

    <!-- Name Mappings -->
    <li class="menu-item <%= 'active' if controller_name == 'name_mappings' %>">
      <%= link_to admin_name_mappings_path, class: "menu-link" do %>
        <i class="menu-icon icon-base ri ri-links-line"></i>
        <div data-i18n="Name Mappings">Name Mappings</div>
      <% end %>
    </li>

    <!-- Religious Data Section -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Religious Data</span>
    </li>

    <!-- Religious Families -->
    <li class="menu-item <%= 'active' if controller_name == 'families_for_foundations' %>">
      <%= link_to admin_families_for_foundations_path, class: "menu-link" do %>
        <i class="menu-icon icon-base ri ri-building-line"></i>
        <div data-i18n="Religious Families">Religious Families</div>
      <% end %>
    </li>

    <!-- Religious Texts -->
    <li class="menu-item <%= 'active' if controller_name == 'foundations_onlies' %>">
      <%= link_to admin_foundations_onlies_path, class: "menu-link" do %>
        <i class="menu-icon icon-base ri ri-book-open-line"></i>
        <div data-i18n="Religious Texts">Religious Texts</div>
      <% end %>
    </li>

    <!-- Languages -->
    <li class="menu-item <%= 'active' if controller_name == 'languages' %>">
      <%= link_to admin_languages_path, class: "menu-link" do %>
        <i class="menu-icon icon-base ri ri-global-line"></i>
        <div data-i18n="Languages">Languages</div>
      <% end %>
    </li>

    <!-- Master Books -->
    <li class="menu-item <%= 'active' if controller_name == 'master_books' %>">
      <%= link_to admin_master_books_path, class: "menu-link" do %>
        <i class="menu-icon icon-base ri ri-book-2-line"></i>
        <div data-i18n="Master Books">Master Books</div>
      <% end %>
    </li>

    <!-- Family Seeds -->
    <li class="menu-item <%= 'active' if controller_name == 'families_seeds' %>">
      <%= link_to admin_families_seeds_path, class: "menu-link" do %>
        <i class="menu-icon icon-base ri ri-seedling-line"></i>
        <div data-i18n="Family Seeds">Family Seeds</div>
      <% end %>
    </li>

    <!-- Canons -->
    <li class="menu-item <%= 'active' if controller_name == 'canons' %>">
      <%= link_to admin_canons_path, class: "menu-link" do %>
        <i class="menu-icon icon-base ri ri-archive-line"></i>
        <div data-i18n="Canons">Canons</div>
      <% end %>
    </li>

    <!-- Canon Inclusions -->
    <li class="menu-item <%= 'active' if controller_name == 'canon_book_inclusions' %>">
      <%= link_to admin_canon_book_inclusions_path, class: "menu-link" do %>
        <i class="menu-icon icon-base ri ri-list-check-2"></i>
        <div data-i18n="Canon Inclusions">Canon Inclusions</div>
      <% end %>
    </li>

    <!-- Canon Preferences -->
    <li class="menu-item <%= 'active' if controller_name == 'canon_work_preferences' %>">
      <%= link_to admin_canon_work_preferences_path, class: "menu-link" do %>
        <i class="menu-icon icon-base ri ri-settings-3-line"></i>
        <div data-i18n="Canon Preferences">Canon Preferences</div>
      <% end %>
    </li>

    <!-- Numbering Systems -->
    <li class="menu-item <%= 'active' if controller_name == 'numbering_systems' %>">
      <%= link_to admin_numbering_systems_path, class: "menu-link" do %>
        <i class="menu-icon icon-base ri ri-list-numbers"></i>
        <div data-i18n="Numbering Systems">Numbering Systems</div>
      <% end %>
    </li>

    <!-- Numbering Labels -->
    <li class="menu-item <%= 'active' if controller_name == 'numbering_labels' %>">
      <%= link_to admin_numbering_labels_path, class: "menu-link" do %>
        <i class="menu-icon icon-base ri ri-price-tag-3-line"></i>
        <div data-i18n="Numbering Labels">Numbering Labels</div>
      <% end %>
    </li>

    <!-- Numbering Maps -->
    <li class="menu-item <%= 'active' if controller_name == 'numbering_maps' %>">
      <%= link_to admin_numbering_maps_path, class: "menu-link" do %>
        <i class="menu-icon icon-base ri ri-map-pin-line"></i>
        <div data-i18n="Numbering Maps">Numbering Maps</div>
      <% end %>
    </li>
  </ul>
</aside>
