<aside id="layout-menu" class="layout-menu menu-vertical menu">
  <!-- Brand -->
  <div class="app-brand demo">
    <%= link_to admin_dashboard_path, class: "app-brand-link gap-xl-0 gap-2" do %>
      <span class="app-brand-logo demo me-1">
        <%= image_tag "verifaith-logo.png", alt: "VeriFaith Logo", height: 24 %>
      </span>
    <% end %>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="menu-toggle-icon d-xl-inline-block align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <!-- Menu -->
  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item <%= 'active open' if current_page?(admin_dashboard_path) %>">
      <%= link_to admin_dashboard_path, class: "menu-link" do %>
        <i class="menu-icon icon-base ri ri-home-smile-line"></i>
        <div data-i18n="Dashboard">Dashboard</div>
      <% end %>
    </li>

    <!-- Claims -->
    <li class="menu-item <%= 'active' if controller_name == 'claims' %>">
      <%= link_to admin_claims_path, class: "menu-link" do %>
        <i class="menu-icon icon-base ri ri-file-text-line"></i>
        <div data-i18n="Claims">Claims</div>
      <% end %>
    </li>

    <!-- Users -->
    <li class="menu-item <%= 'active' if controller_name == 'users' %>">
      <%= link_to admin_users_path, class: "menu-link" do %>
        <i class="menu-icon icon-base ri ri-user-line"></i>
        <div data-i18n="Users">Users</div>
      <% end %>
    </li>

    <% veritalk_controllers = %w[conversations conversation_messages] %>
    <% veritalk_active = veritalk_controllers.include?(controller_name) %>

    <!-- VeriTalk Conversations (Collapsible Group) -->
    <li class="menu-item <%= 'open active' if veritalk_active %>">
      <a class="menu-link menu-toggle" href="javascript:void(0);">
        <i class="menu-icon icon-base ri ri-chat-3-line"></i>
        <div data-i18n="VeriTalk">VeriTalk</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item <%= 'active' if controller_name == 'conversations' %>">
          <%= link_to admin_conversations_path, class: "menu-link" do %>
            <div data-i18n="Conversations">Conversations</div>
          <% end %>
        </li>
        <li class="menu-item <%= 'active' if controller_name == 'conversation_messages' %>">
          <%= link_to admin_conversation_messages_path, class: "menu-link" do %>
            <div data-i18n="Messages">Messages</div>
          <% end %>
        </li>
      </ul>
    </li>

    <% data_tables_controllers = %w[directions languages sources books canons canon_books text_unit_types text_contents name_mappings text_translations] %>
    <% data_tables_active = data_tables_controllers.include?(controller_name) %>

    <!-- Data Tables (Collapsible Group) -->
    <li class="menu-item <%= 'open active' if data_tables_active %>">
      <a class="menu-link menu-toggle" href="javascript:void(0);">
        <i class="menu-icon icon-base ri ri-book-2-line"></i>
        <div data-i18n="Data Tables">Data Tables</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item <%= 'active' if controller_name == 'name_mappings' %>">
          <%= link_to admin_name_mappings_path, class: "menu-link" do %>
            <div data-i18n="Name Mappings">Name Mappings</div>
          <% end %>
        </li>
        <li class="menu-item <%= 'active' if controller_name == 'directions' %>">
          <%= link_to admin_directions_path, class: "menu-link" do %>
            <div data-i18n="Directions">Directions</div>
          <% end %>
        </li>
        <li class="menu-item <%= 'active' if controller_name == 'languages' %>">
          <%= link_to admin_languages_path, class: "menu-link" do %>
            <div data-i18n="Languages">Languages</div>
          <% end %>
        </li>
        <li class="menu-item <%= 'active' if controller_name == 'sources' %>">
          <%= link_to admin_sources_path, class: "menu-link" do %>
            <div data-i18n="Sources">Sources</div>
          <% end %>
        </li>
        <li class="menu-item <%= 'active' if controller_name == 'books' %>">
          <%= link_to admin_books_path, class: "menu-link" do %>
            <div data-i18n="Books">Books</div>
          <% end %>
        </li>
        <li class="menu-item <%= 'active' if controller_name == 'canons' %>">
          <%= link_to admin_canons_path, class: "menu-link" do %>
            <div data-i18n="Canons">Canons</div>
          <% end %>
        </li>
        <li class="menu-item <%= 'active' if controller_name == 'canon_books' %>">
          <%= link_to admin_canon_books_path, class: "menu-link" do %>
            <div data-i18n="Canon Books">Canon Books</div>
          <% end %>
        </li>
        <li class="menu-item <%= 'active' if controller_name == 'text_unit_types' %>">
          <%= link_to admin_text_unit_types_path, class: "menu-link" do %>
            <div data-i18n="Text Unit Types">Text Unit Types</div>
          <% end %>
        </li>
        <li class="menu-item <%= 'active' if controller_name == 'text_contents' %>">
          <%= link_to admin_text_contents_path, class: "menu-link" do %>
            <div data-i18n="Text Contents">Text Contents</div>
          <% end %>
        </li>
        <li class="menu-item <%= 'active' if controller_name == 'text_translations' %>">
          <%= link_to admin_text_translations_path, class: "menu-link" do %>
            <div data-i18n="Text Translations">Text Translations</div>
          <% end %>
        </li>
      </ul>
    </li>

  </ul>
</aside>
