<div class="settings-main">
  <div class="settings-header-section">
    <h2 class="settings-title">Settings</h2>
    <div class="settings-profile-banner" style="<%= 'background-image: url(' + @user.background_image_url + ');' if @user.background_image_url.present? %>"></div>
    <div class="settings-profile-header">
      <div class="settings-profile-avatar">
        <%= image_tag(@user.avatar_url.presence || 'default-avatar.png', class: 'settings-avatar-img') %>
      </div>
      <div class="settings-profile-info">
        <div class="settings-profile-name"><%= @user.full_name || @user.email %></div>
        <div class="settings-profile-username">@<%= @user.email.split('@').first %></div>
      </div>
    </div>
  </div>
    <%= yield %>
</div> 
