<script>
  window.FEED_API_URL = '/facts/infinite';
  window.FEED_FILTER = '<%= j params[:filter].to_s %>';
</script>
<div class="feed-main facts-page-main">
  <div class="facts-page-content">
    <header class="facts-page-header">
      <h1 class="facts-page-title">Facts</h1>
      <nav class="facts-page-filters">
        <%= link_to 'Facts', facts_path, class: "facts-filter-pill #{'active' if params[:filter].blank? || params[:filter] == 'all'}" %>
        <%= link_to 'My Facts', facts_path(filter: 'my_facts'), class: "facts-filter-pill #{'active' if params[:filter] == 'my_facts'}" %>
        <%= link_to 'Tags', '#', class: 'facts-filter-pill' %>
        <%= link_to 'Sources', '#', class: 'facts-filter-pill' %>
        <%= link_to 'Status', '#', class: 'facts-filter-pill' %>
      </nav>
    </header>
    <div id="feed-list" class="feed-list">
    </div>
    <div id="feed-loader" class="feed-loader">Loading...</div>
  </div>
  <aside class="feed-rightbar facts-page-rightbar">
    <%= render 'facts/rightbar' %>
  </aside>
</div>
<%= render 'shared/feeds_js' %>
