<%# Left side content %>
<div class="login-container">
  <div class="login-left">
    <h1>Movement<br>Of Verified Faith</h1>
    <p>Join a community committed to truth and authenticity in faith through evidence-based claims.</p>
  </div>

  <%# Right side login form %>
  <div class="login-right">
    <div class="login-form-container">
      <%= image_tag "verifaith-logo.png", alt: "Verifaith Logo", class: "login-logo" %>
      
      <h2>Login to Your Account</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form" }) do |f| %>
        <div class="form-group">
          <%= f.label :email, "Email Address" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter email" %>
        </div>

        <div class="form-group">
          <%= f.label :password, "Password" %>
          <div class="password-input-container">
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter password" %>
            <button type="button" class="toggle-password">
              <i class="far fa-eye"></i>
            </button>
          </div>
        </div>

        <div class="form-options">
          <div class="remember-me">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Remember me" %>
          </div>
          <%= link_to "Forgot Password?", new_password_path(resource_name), class: "forgot-password" %>
        </div>

        <%= f.submit "Login", class: "login-button" %>
      <% end %>

      <div class="divider">
        <span>OR</span>
      </div>

      <%= button_to user_google_oauth2_omniauth_authorize_path, data: { turbo: false }, class: "google-login" do %>
        <%= image_tag "https://www.google.com/favicon.ico", alt: "Google", class: "google-icon" %>
        Continue with Google
      <% end %>

      <div class="signup-prompt">
        Don't have an account? <%= link_to "Sign Up", new_registration_path(resource_name) %>
      </div>
    </div>
  </div>
</div>
