<div class="theories-main">
  <div class="theories-center">
    <div class="theories-header">
      <h2>Theories</h2>
      <%= link_to new_theory_path, class: 'theories-new-btn' do %>
        <%= image_tag 'newclaim.png', class: 'btn-icon' %>
        <span class="new-theory-label">New Theory</span>
      <% end %>
    </div>
    <div id="theory-list" class="theories-content-list">
      <!-- Theories will be loaded here by infinite scroll JS -->
    </div>
    <div id="theory-loader" class="feed-loader" style="display:none;">Loading...</div>
  </div>
  <aside class="theories-rightbar">
    <%= render 'theories/top_picks' %>
    <%= render 'theories/who_to_follow' %>
  </aside>
</div>
<%= render 'shared/public_theories_js' %> 