<div class="theory-show-main">
  <div class="theory-show-center">
    <div class="theory-show-header">
      <h2><%= @theory.title %></h2>
      <div class="theory-show-meta">
        <span class="theory-author">
          <img src="<%= @theory.user&.avatar_url.presence || asset_path('default-avatar.png') %>" class="theory-avatar" />
          <%= @theory.user&.full_name.presence || @theory.user&.email || 'Anonymous' %>
        </span>
        <span class="theory-date"><%= @theory.created_at.strftime('%d %b, %Y') %></span>
        <% if user_signed_in? %>
          <% user_like = @theory.likes.find_by(user: current_user) %>
          <div class="theory-like-action">
            <% if user_like %>
              <%= link_to theory_like_path(@theory, user_like), method: :delete, remote: true, class: 'feed-like liked', data: { theory_id: @theory.id } do %>
                <i class="fas fa-thumbs-up"></i> <span class="like-count"><%= @theory.likes.count %></span>
              <% end %>
            <% else %>
              <%= link_to theory_likes_path(@theory), method: :post, remote: true, class: 'feed-like', data: { theory_id: @theory.id } do %>
                <i class="fas fa-thumbs-up"></i> <span class="like-count"><%= @theory.likes.count %></span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    
    <div class="theory-show-content">
      <div class="theory-description">
        <%= simple_format(@theory.description) %>
      </div>
    </div>
  </div>
</div>

