<!DOCTYPE html>
<html>
  <head>
    <title>VeriFaith</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Apple Sign In meta tags %>
    <meta name="apple-client-id" content="<%= ENV['APPLE_CLIENT_ID'] %>">
    <meta name="apple-signin-redirect-uri" content="<%= request.base_url %>/users/auth/apple/callback">

    <%# Facebook Sign In meta tags %>
    <meta name="facebook-app-id" content="<%= ENV['FACEBOOK_APP_ID'] %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="VeriFaith">
    <meta property="og:description" content="Truth You Can Test">
    <meta property="og:url" content="<%= request.original_url %>">

    <%# SF Pro Font %>
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/sf-pro-display">
    
    <%# Font Awesome %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%# Apple Sign In JavaScript SDK %>
    <script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>

    <%# Force reload styles in development %>
    <% if Rails.env.development? %>
      <script>
        document.addEventListener('DOMContentLoaded', () => {
          const timestamp = new Date().getTime();
          const styleSheets = document.querySelectorAll('link[rel="stylesheet"]');
          styleSheets.forEach(link => {
            if (link.href.includes('assets')) {
              link.href = `${link.href}?t=${timestamp}`;
            }
          });
        });
      </script>
    <% end %>
  </head>

  <body>
    <%= render 'shared/omniauth_facebook_js' %>

    <div class="flash-container">
      <% flash.each do |key, message| %>
        <div class="flash-message <%= key %>">
          <%= message %>
        </div>
      <% end %>
    </div>

    <%= yield %>

    <%= render 'shared/javascript' %>
    <%= render 'shared/cookies' %>
  </body>
</html>
