<!DOCTYPE html>
<html>
  <head>
    <title>LiteralVerification</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="flash-container">
      <% flash.each do |key, message| %>
        <div class="flash-message <%= key %>">
          <%= message %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    setTimeout(() => {
      document.querySelectorAll('.flash-message').forEach(el => {
        el.style.opacity = '0';
        el.style.transition = 'opacity 0.5s ease';
        setTimeout(() => el.remove(), 500);
      });
    }, 4000);
  });
</script>
