<!DOCTYPE html>
<html>
  <head>
    <title>VeriFaith Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <%= render 'shared/javascript' %>
    <%= render 'shared/dashboard_js' %>
  </head>

  <body>
    <div class="dashboard-container">
      <%= render 'shared/navbar' %>

      <div class="dashboard-main">
        <%= render 'shared/flash_messages' %>
        <header class="dashboard-header">
          <div class="header-actions">
            <% if current_page?(dashboard_path) || current_page?(claims_path) %>
              <%= form_with url: dashboard_path, method: :get, data: { controller: "search" } do |f| %>
                <div class="search-bar">
                  <i class="fas fa-search search-icon"></i>
                  <%= f.text_field :search, 
                      placeholder: "Search Claims",
                      value: params[:search],
                      data: { 
                        search_target: "input"
                      } %>
                </div>
              <% end %>
            <% end %>

            <div class="notifications">
              <i class="fas fa-bell"></i>
              <span class="notification-count">3</span>
            </div>

            <div class="separator">|</div>

            <div class="user-profile">
              <% if user_signed_in? %>
                <div class="user-info" data-action="click->dropdown#toggle">
                  <span class="nav-text"><%= current_user.full_name&.titleize || current_user.email %></span>
                  <i class="fas fa-chevron-down dropdown-icon"></i>
                </div>

                <div class="dropdown-menu" data-dropdown-target="menu">
                  <%= button_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Log Out</span>
                  <% end %>
                </div>
              <% else %>
                <%= link_to "Sign In", new_user_session_path, class: "nav-text" %>
              <% end %>
            </div>
          </div>
        </header>

        <%= yield %>
      </div>
    </div>
  </body>
</html> 